<h1>New Lesson Management Page</h1>

<h3>Current Lessons</h3>
<div>
  <% @lessons.each do |lesson| %>
    <% current_section = Section.find(lesson.section_id) %>
    <p>Lesson: <%= lesson.number%>. <a href="/lessons/<%= lesson.id %>"> <%= lesson.name %>, Section: <%=current_section.name  %></a></p>
  <% end %>
</div>
<br>
<h3>Enter New Lesson Information</h3>

<%= render('/layouts/errors', :object => @lesson) %>

<form action="/lessons"method="post">
  <%= render('/layouts/form', :object => @sections) %>
  <button>Add Lesson</button>
</form>

<a href="/lessons"><img src="http://farmvillebaptistchurch.org/clientimages/50316/buttons/home%20button.gif" width=100 height=100></a>
