<h3><%= @lesson.number %>. <%= @lesson.name %></h3>
<p><%= @lesson.context %></p>

<p><a href="/lessons/<%= @lesson.id %>/edit">Edit this lesson</a></p>
<a href="/lessons/<%= @lesson.id %>"
      data-confirm="DO YOU KNOW WHAT YOU'RE DOING?"
      data-method="delete"
      rel="nofollow">Delete this lesson</a>

<br><br>
<a href="/lessons"><img src="http://farmvillebaptistchurch.org/clientimages/50316/buttons/home%20button.gif" width=100 height=100></a>

