<% content_for(:title, "Show Lesson | Learn How to Program") %>

<h3><%= @lesson.number %>. <%= @lesson.name %></h3>
<p><%= @lesson.context %></p>

<p><a href="/lessons/<%= @lesson.id %>/edit">Edit this lesson</a></p>
<a href="/lessons/<%= @lesson.id %>"
      data-confirm="DO YOU KNOW WHAT YOU'RE DOING?"
      data-method="delete"
      rel="nofollow">Delete this lesson</a>

<br><br>

<div class="container-fluid">
  <div class='row'>
    <div id="column1" class="col-xs-2">
      <% if @lesson.prev != nil %>
        <p><a href="/lessons/<%= @lesson.prev.id %>">Previous</a></p>
      <% end %>
    </div>
    <div id="column2" class="col-xs-2" style='float:left; width:10%'>
      <% if @lesson.next != nil %>
        <p><a href="/lessons/<%= @lesson.next.id %>">Next</a></p>
      <% end %>
    </div>
    <div id="column3" class="col-xs-3" style='float:left; width:20%'>
      <p>Learn How to Program</p>
    </div>
    <div id="column4" class="col-xs-5" style='float:left; width:20%'>
      <p><a href="/lessons">Table of Contents</a></p>
    </div>
  </div>
</div>
