<h3><%= @lesson.number %>. <%= @lesson.name %></h3>
<p><%= @lesson.context %></p>

<p><a href="/lessons/<%= @lesson.id %>/edit">Edit this lesson</a></p>
<a href="/lessons/<%= @lesson.id %>"
      data-confirm="DO YOU KNOW WHAT YOU'RE DOING?"
      data-method="delete"
      rel="nofollow">Delete this lesson</a>

<br><br>

<div class="container">
  <div class='row'>
    <div class="column1">
      <% if @lesson.prev != nil %>
        <p><a href="/lessons/<%= @lesson.prev.id %>">Previous</a></p>
      <% end %>
    </div>
    <div class="column2">
      <% if @lesson.next != nil %>
        <p><a href="/lessons/<%= @lesson.next.id %>">Next</a></p>
      <% end %>
    </div>
    <div class="column3">
      <p><a href="/lessons">Table of Contents</a></p>
    </div>
  </div>
</div>
