<label for="lesson_number">Lesson number</label>
  <input id="lesson_number" name="lesson[number]" type="number" value="<%= @lesson.number %>">
  <label for="lesson_name">Name</label>
  <input id="lesson_name" name="lesson[name]" type="text" value="<%= @lesson.name %>">
  <label for="lesson_context">Context</label>
  <input id="lesson_context" name="lesson[context]" type="text" value="<%= @lesson.context %>">
  <label for="lesson_section">Section</label>
  <select id="lesson_section" name="lesson[section_id]">
    <% object.each do |section| %>
      <option value="<%= section.id %>"><%= section.name %></option>
    <% end %>
  </select>
